<div class='call' style='clear: left'>
  <div class='reaction'>
    <%= c.label :reaction%><br />
    <%= c.object.reaction %>
  </div>

  <div class='result'>
    <%= c.label :result%><br />
    <%= c.object.result %>
  </div>


  <div class='conditions'>
    <%= c.label :presentation_conditions%><br />
    <%= c.object.presentation_conditions %>
  </div>

  <div class='reason'>
    <%= c.label :refusal_reason%><br />
    <%= c.object.refusal_reason %>
  </div>

  <div class='nextdate'>
    <%= c.label :next_date%><br />
    <%= c.object.next_date %>
  </div>



  <div class='meetingdate'>
    <%= c.label :meeting_date%><br />
    <%= c.object.meeting_date %>
  </div>


</div>
