<div class='call' style='clear: left'>
  <div class='reaction issue_call_reaction'>
    <%= c.select(:reaction, Call::REACTIONS_SELECTION, {}, {:onchange => "result_focus();$(this.form).submit();", :disabled => c.object.locked? || !c.object.issue.enabled_for?(current_user) })%>
    <span class="field_error_message">
      <%= c.object.errors[:reaction].join(", ") if c.object.errors[:reaction].present? %>
    </span><br />
  </div>



  <div class='conditions issue_call_conditions' style='display: <%# c.object.conditions_needed? ? "block" : "none" %>'>
    <% if c.object.conditions_needed? %>
      <%= c.select(:presentation_conditions, Call::CONDITIONS_SELECTION, {}, {:onchange => "$('#focus').val('issue_calls_attributes_#{c.object.issue.calls.count}_result');$(this.form).submit();", 
      :disabled => c.object.locked?  || !c.object.issue.enabled_for?(current_user) })%>
      <span class="field_error_message">
        <%= c.object.errors[:presentation_conditions].join(", ") if c.object.errors[:presentation_conditions].present? %>
      </span><br />
    <% end %>&nbsp;
  </div>

  <div class='reason issue_call_refusal_reason' style='display: <%# c.object.reason_needed? ? "block" : "none"%>'>
    <% if c.object.reason_needed? %>
    <%= c.text_field :refusal_reason,  :disabled => c.object.locked? || !c.object.issue.enabled_for?(current_user) %>
    <span class="field_error_message">
      <%= c.object.errors[:refusal_reason].join(", ") if c.object.errors[:refusal_reason].present? %>
    </span><br />
    <% end %>&nbsp;
  </div>

  <div class='nextdate issue_call_next_date' style='display: <%# c.object.nextdate_needed? ? "block" : "none"%>'>
    <% if c.object.nextdate_needed? %>
      <%= c.text_field :next_date,  :disabled => c.object.locked? || !c.object.issue.enabled_for?(current_user)%>
      <span class="field_error_message">
        <%= c.object.errors[:next_date].join(", ") if c.object.errors[:next_date].present? %>
      </span><br />
    

      <% #:onblur => "$(this.form).submit();", %>
      <script language='javascript'>
        $('#issue_calls_attributes_<%= index %>_next_date').datetimepicker();
      </script>
    <% end %>&nbsp;
  </div>



  <div class='meetingdate issue_call_meeting_date' style='display: <%# c.object.meetingdate_needed? ? "block" : "none"%>'>
    <% if c.object.meetingdate_needed? %>


    <%= c.text_field :meeting_date, :disabled => c.object.locked? || !c.object.issue.enabled_for?(current_user)%>
    <span class="field_error_message">
      <%= c.object.errors[:meeting_date].join(", ") if c.object.errors[:meeting_date].present? %>
    </span><br />
    <% #:onblur => "$(this.form).submit();", %>
    <script language='javascript'>
      $('#issue_calls_attributes_<%= index %>_meeting_date').datetimepicker();
    </script>
    
    <% end %>&nbsp;
  </div>

  <%= javascript_tag do %>
    function result_focus() {
      var selected_reaction=$('#issue_calls_attributes_<%= c.object.issue.calls.count %>_reaction option:selected').val();
      var selected_result=$('#issue_calls_attributes_<%= c.object.issue.calls.count %>_result option:selected').val();
      if (selected_reaction=="instant_refusal") {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_refusal_reason");
      }
      else if (selected_reaction=="cant_speak") {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_next_date");
      }
      else if (selected_result=="meeting") {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_meeting_date");
      } 
      else if (selected_result=="redial") {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_next_date");
      } 
      else if (selected_result=="refusal") {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_refusal_reason");
      } 
      else if (selected_result=="noanswer") {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_next_date");
      } else {
        $('#focus').val("issue_calls_attributes_<%= c.object.issue.calls.count%>_presentation_conditions");
      }
      
    }
  <% end %>
  <div class='result issue_result'>
    <%= c.select(:result, Call::RESULTS_SELECTION, {}, {:onchange => "result_focus(); $(this.form).submit();",
       :disabled => (!c.object.result_needed? || c.object.locked? || !c.object.issue.enabled_for?(current_user)) }) %>
    <span class="field_error_message">
      <%= c.object.errors[:result].join(", ") if c.object.errors[:result].present? %>
    </span><br />
  </div>



  <% if !c.object.locked? && c.object.issue.enabled_for?(current_user)%>
    <div class="submit issue_actions" style='width: 30px; float: right; margin-right: -25px'>
      <%= f.submit("ะะบ")%>
    </div>
  <% end %>

</div>
