
<div class=' <%= "result_#{issue.result}" %>'>
    <%= render "issues/header"%>
  
    <div class='issue_entry issue_form'>
      <div class='issue_number'>
        <%= issue.project.issues.by_user(current_user).count+1%>
      </div>
    
      <div class='issue_id'>
        <%= issue.id if issue.id%>&nbsp;
       </div>

     <div class='issue_date'>
       <%= issue.created_at || Date.today%>&nbsp;
     </div>

      
      <div class='phone issue_phone <%= "field_with_errors" unless issue.errors[:phone].empty? %>'>
     
        <%= f.text_field :phone, :onblur => "$(this.form).submit();", :disabled => !issue.new_record? %>
        <span class="field_error_message">
          <%= issue.errors[:phone].join(", ") if issue.errors[:phone].present? %>
        </span>
      </div>


      <%= render "extended_form", :f =>f, :issue => issue unless issue.new_record? %>
    </div>
</div>

<div style='clear: both'> </div>
