  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  
  <%= f.fields_for :users_projects do |n|  %>
    <p>
      <%= n.object.user.display_name %>
      <%= n.hidden_field :id %>
      <%= n.hidden_field :user_id %>
      <%= n.hidden_field :project_id %>
      <%= n.label :role %>
      <%= n.select(:role, UsersProject::ROLES.map {|e| [I18n.t(e, :scope => "project.roles"), e ] }) %>

      <% if n.object.persisted? %>
        <%= n.check_box :_destroy %>
        <%= n.label :_destroy, "Удалить" %>
      <% end %>

    </p>
  <% end %>
  
  <p>
    <%# link_to "Добавить", new_account_project_users_project_url(@account, @project)%>
  </p>
  
  <p>
    <%= f.label :emails_list %><br/>
    <%= f.text_area :emails_list, :style => "width: 400px" %>
  </p>
  
  <p>
  <%= f.submit "Сохранить"%>
  </p>
  
