<p>
  <%= form_tag  "", :method => :get do %>
    <%= select_tag :operator_id,  options_from_collection_for_select( @project.users.by_role(:member), "id", "email", params[:operator_id] ), :include_blank => true%>
    <%= hidden_field_tag :period, params[:period] || :all %>
    <%= submit_tag "Показать"%>

    |
    <%= link_to I18n.t(:day, :scope => "stats.period").capitalize, params.merge({ :period=> :day}) %>
    |
    <%= link_to I18n.t(:yesterday, :scope => "stats.period").capitalize, params.merge({ :period=> :yesterday})%>
    |
    <%= link_to I18n.t(:week, :scope => "stats.period").capitalize, params.merge({ :period=> :week})%>
    |
    <%= link_to I18n.t(:all, :scope => "stats.period").capitalize, params.merge({ :period=> :all})%>

  <% end %>
  
</p>

<p>
  Показана статистика по <%=  begin "оператору #{@project.users.where(:id => params["operator_id"]).first.display_name}"; rescue Exception; " всем операторам"; end  %>
  <%= I18n.t(params[:period], :scope => "stats.period")%>
</p>

<table>
<tr>
  <th>
    No
  </th>
  <th>
    Показатель
  </th>
  <th>
    Количество
  </th>
  <th>
    Процент
  </th>
</tr>


<% @stats.each.with_index do |s, index| %>
  <tr>
    <td>
      <%= index+1 %>
    </td>
    <td>
      <%= link_to I18n.t(s[:title]), rating_account_project_url(@account, @project, :rating => s[:title])%>
    </td>
    <td>
      <%= s[:value]%>
    </td>
    <td>
      <%= "#{s[:percentage]} %" unless s[:percentage].blank? %>
    </td>
  </tr>

<% end %>
  
</table>