<% title @project.name, false %>

  
  <% unless current_user.manager?(@project)%>
    <div id='workline'>

      <%= content_tag :h1, yield(:title) %>

      <p class='header'>
        <%= link_to "+ Новая запись", account_project_url(@account, @project, :focus => "issue_phone"), :style => "float: right; background-color: red; color: white"%>
        <%= link_to "Все записи", account_project_url(@account, @project), :class => "#{'selected' unless params[:show]}"%>
        |
        <%= link_with_selection "Назначенные встречи", params, {:show => :meeting}%>
        |
        <%= link_with_selection "Перезвонить", params, {:show => :redial} %>
        |
        <%= link_with_selection "Срочно позвонить", params, {:show => :urgent}%>
        |
        <%= link_with_selection "Звонки на сегодня", params, {:show => :today}%>
        |
        <%= link_with_selection "Отказы",  params, {:show => :refuse}%>
        |
        <%= link_with_selection "Напомнить о встрече", params, {:show => :reminders}%>
        |
        <%= link_with_selection "Встречи на завтра", params, {:show => :tomorrow}%>
      </p>


      <div id="new_record_wrapper">
        <%= render "issues/new", :issue => @issue %>
      </div>
    </div>

    <div id='records_wrapper'>
      <% collection = @issues %>
      <%= render "issues/list", :issues => collection %>
      <%= pageless(@issues.total_pages, issues_account_project_path(@account, @project), "#records_wrapper")%>
    </div>


  <% end%>


<% if current_user.manager?(@project)%>
<div id='dashboard'>

  <%= render "projects/stats"%>

  <%= link_to "Правка", edit_account_project_path(@account, @project) %> |
  <%= link_to "Удалить", account_project_path(@project), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "К списку групп", account_projects_path(@account) %>
</div>
<% end %>
