<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%# javascript_include_tag :defaults %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if flash.count > 0 %>
    <div id="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    </div>
    <% end %>
    
    <div id="head">
    
    <% if signed_in?  %>
      <% if @account %>
        <%= link_to current_user.display_name, account_url(@account)%>
      <% else%>
        <%= link_to current_user.display_name, "/"%>
      <% end %>
      <%= link_to "Настройки", edit_user_registration_path %>
      <%# link_to "Настройки", edit_profile_path if current_user.profile %>
      <%# link_to "Настройки", new_profile_path unless current_user.profile %>
      <%= link_to "Выйти", destroy_user_session_path, :method => :delete  %>
      
    <% end %>
    <%= link_to "Войти", new_user_session_path unless signed_in? %>
      
      
      
    </div>
    
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>

    <%= render "shared/reformal"%>

  </body>
</html>
